/* Habitaciones.css */
body{
  background-color: #db4848;
}  
.habitaciones-container {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    color: #333;
  }
